.random-planet {
    display: flex;
    background-color: #333;
    width:60%;
    margin:0 auto 20px auto;
    align-items: center;
    border-radius: 15px;
    padding:5px;

}
.rp-img-wrapper {
    /* padding-left:20px; */
}
.rp-img-wrapper img{
    width:200px;
    height: 85%;
    object-fit: cover;
    border-radius: 15px;
    /* border-radius: 50%; */
}

.rp-description{
    margin-left:10px;
    color:#fff;
}
