*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    width:100%;
    background-color: #444;
    min-height: 100vh;
    font-family: Roboto;
}
.app{
    max-width:1170px;
   width: 100%;
   margin: 0 auto;
}

.row{
    display: flex;
    margin-bottom: 40px;
    /* align-items: center; */
    margin:0 auto 20px auto;
    justify-content: center;
}