header{
    display:flex;
    align-items: center;
    margin-bottom:30px;
}

.logo{
    min-width:10%;
    font-size:32px;
    font-family: Roboto;
    color:#fff;
}

nav a{
    color:aquamarine;
    text-decoration: none;
    display: inline-block;
    padding:5px;
}